<h1>All Drinks</h1>

<div class="row">
  <h3><%= link_to "Create a new drink", new_drink_path %></h3>
  <table style="table-layout:fixed;">
    <th>Image</th>
    <th>Name</th>
    <th>Ingredients</th>
    <th>Default?</th>
    <th>Tag</th>
    <% @drinks.each do |drink| %>
      <tr>
        <td>
          <% if drink.image.attached? %>
            <%= image_tag drink.image, size: "100x100", alt: drink.name %>
          <% end %>
        </td>
        <td>
          <%= link_to drink.name, drink %> 
          | <%= link_to "edit", edit_drink_path(drink) %> 
          | <%= link_to "delete", drink, method: :delete, 
                data: {confirm: "Are you sure you want to delete drink #{drink.name}? This cannot be undone." } %>
        </td>
        <td style="word-wrap:break-word">
          <% drink.ingredients.each do |ingredient| %>
            <a href="<%= edit_ingredient_path(ingredient) %>" class="badge badge-primary"><%= ingredient.name %>
              <span class="badge badge-light"><%= ingredient.amount %></span>
            </a>
          <% end %>
        </td>
        <td><%= drink.default %></td>
        <td><%= drink.tag %></td>
      </tr>
    <% end %>
  </table>
</div>