<h1><%= @drink.name %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4><%= link_to "< Back to All Drinks", drinks_path %></h4>
    <h3><%= link_to "Edit this drink", edit_drink_path(@drink) %></h3>
    
    <table style="table-layout:fixed;">
      <th>Image</th>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Default?</th>
      <th>Tag</th>
      <tr>
        <td>
          <% if @drink.image.attached? %>
            <%= image_tag @drink.image, size: "100x100", alt: @drink.name %>
          <% end %>
        </td>
        <td><%= @drink.name %></td>
        <td style="word-wrap:break-word">
          <% @drink.ingredients.each do |ingredient| %>
            <a href="<%= edit_ingredient_path(ingredient) %>" class="badge badge-primary"><%= ingredient.name %>
              <span class="badge badge-light"><%= ingredient.amount %></span>
            </a>
          <% end %>
        </td>
        <td><%= @drink.default %></td>
        <td><%= @drink.tag %></td>
      </tr>
    </table>
  </div>
</div>