<h1>Create new ingredient</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@ingredient, url: ingredients_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :pump %>
      <%= f.number_field :pump, class: 'form-control' %>

      <%= f.label :drink_type_liquor, 'Liquor' %>
      <%= f.radio_button :drink_type, 'liquor', :checked => @ingredient.liquor,
        :value => 'liquor'%> 
      <%= f.label :drink_type_mixer, 'Mixer' %>
      <%= f.radio_button :drink_type, 'mixer', :checked => @ingredient.mixer,
        :value => 'mixer'%>

      <%= f.submit "Create new ingredient", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>