<h1><%= @ingredient.name %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4><%= link_to "< Back to All Ingredients", ingredients_path %></h4>
    <h3><%= link_to "Edit this ingredient", edit_ingredient_path(@ingredient) %></h3>
    
    <table>
      <th>Name</th>
      <th>Pump</th>
      <th>Liquor</th>
      <th>Mixer</th>
      <th>Drink</th>
      <tr>
        <td><%= @ingredient.name %></td>
        <td><%= @ingredient.pump %></td>
        <td>
          <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" aria-label="liquor"
              <%= if @ingredient.liquor then :checked else "" end %> disabled/>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" aria-label="mixer"
              <%= if @ingredient.mixer then :checked else "" end %> disabled/>
          </div>
        </td>
        <td>
          <% if @ingredient.drink %>
            <%= link_to @ingredient.drink.name, @ingredient.drink %>
          <% else %>
            None
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>