<h1><%= @ingredient.name %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4><%= link_to "< Back to All Ingredients", ingredients_path %></h4>
    <h3><%= link_to "Edit this ingredient", edit_ingredient_path(@ingredient) %></h3>
    
    <table>
      <th>Name</th>
      <th>Pump</th>
      <th>Liquor</th>
      <th>Mixer</th>
      <tr>
        <td><%= @ingredient.name %></td>
        <td><%= @ingredient.pump %></td>
        <td><%= @ingredient.liquor %></td>
        <td><%= @ingredient.mixer %></td>
      </tr>
    </table>
  </div>
</div>