<div style="display: flex; flex-wrap: wrap; width: 100%; justify-content: space-around;">
  <div class="pretty-block flex-col fcol-3" style="justify-content: flex-end; min-height: 250px;">
    <h1>Hello, Friend!</h1>
    <%= image_tag "drinkmo.svg", :id => "icon", :alt => "User Icon" %>
  </div>
  
  <div class="pretty-block flex-col fcol-3" style="justify-content: center;">
    <%= form_for :creds, url: welcome_login_path, :html => {:class => "pretty-form"} do |form| %>
      <div>
        <%= form.text_field :drivers_license, :placeholder => "Drivers License #" %>
      </div>
      <%= form.submit "Submit", :class => "mg-top-sm" %>
    <% end %>
  </div>
  
  <div class="pretty-block fcol-3 queue-block">
    <h2>Queue</h2>
    <%  @orders.each do |order| %>
      <p><%= "#" + order.id.to_s + ") "%>
      <% if order.user %>
        <% if not order.user.name.empty? %>
          <%= order.user.name %>
        <% else %>
          <%= order.user.phone_number %>
        <% end %>
      <% end %>
      </p>
    <% end %>
    <% if @orders.empty? %>
      <p class="text-secondary"> No orders </p>
    <% end %>
  </div>
  
  <div class="pretty-block queue-block">
        <h2>Current Order</h2>
        
        <% if not @ordersComplete.nil? %>
        <h5>
            <%= @ordersComplete.user.name.to_s %>
        </h5>
            
            
        <% @ordersComplete.drinks.each_with_index do |drink, i| %>
            <p><%= "#" + i.to_s + ") "%>
            
            
            <%= image_tag("pin" + (drink.id % 5).to_s + ".JPG", width: '100px') %>
            <%= drink.name.to_s %>
            
            </p>
        <% end %>
    
        
        
        <% end %>

    </div>
</div>